.procedure {
  padding-top: 50px;
  padding-bottom: 50px;

  @include bp(1024) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__container {
    display: grid;
    grid-gap: 30px;
    justify-items: center;

    @include bp(1024) {
      justify-items: unset;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__heading {
    max-width: 500px;

    @include bp(1024) {
      grid-row: 1;
      grid-column: 1 / -1;
    }
  }

  &__list {
    display: grid;
    grid-gap: 30px;

    list-style-type: none;
    counter-reset: counter;

    @include bp(1024) {
      grid-row: 2;
      grid-column: 1 / -1;
      justify-items: unset;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__wrapper {
    counter-increment: counter;

    max-width: 260px + 40px; // каллибровка
    margin-top: -50px; // каллибровка
    margin-left: -40px; // каллибровка

    &::before {
      content: '0'counter(counter);
      position: relative;
      top: 50px;
      z-index: $z-before;

      font-weight: bold;
      font-size: 144px;
      line-height: 100%;
      color: #f2f2f2;
    }
  }

  &__text {
    margin-left: 40px;  // каллибровка

    &--stage {
      @include mg-bottom(5px);

      font-size: 18px;
      font-weight: 700;
      line-height: 1.1;
      color: $a-mf;
      text-transform: lowercase;
    }

    &--title {
      @include mg-bottom(20px);

      font-size: 30px;
      line-height: 1;
    }
  }
}
