.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;

  font-size: $font-size-button;
  color: currentcolor;

  border: unset;

  @include trs(box-shadow);

  cursor: pointer;
  user-select: none;

  @include bp(1024) {
    padding: 15px 25px;

    // font-size: $font-size-button--desktop;
  }

  &--white {
    color: $a-mf;

    background-image: linear-gradient(180deg, #ffffff 0%, #f2f2f2 100%);
    box-shadow: 0px 5px 10px rgba(79, 79, 79, 0.25);
    border-radius: 5px;

    &:visited {
      color: $a-mf;;
      border-bottom: none;
    }

    &:hover,
    &:focus {
      background: linear-gradient(180deg, #ffffff 0%, #f2f2f2 138.2%);
      box-shadow: 0px 8px 25px rgba(79, 79, 79, 0.35);
    }

    &:active {
      box-shadow: 0px 0px 5px rgba(79, 79, 79, 0.35);
    }
  }

  &--red {
    max-width: 300px;
    width: 100%;
    justify-content: center;
    height: 50px;

    color: #fff;
    font-weight: 700;

    background: linear-gradient(180deg, #ff6644 0%, #c5001e 100%);
    box-shadow: 0px 5px 10px rgba(235, 87, 87, 0.65);
    border-radius: 5px;

    &:visited {
      color: $a-mf;;
      border-bottom: none;
    }

    &:hover,
    &:focus {
      background: linear-gradient(180deg, #ff6644 0%, #c5001e 139.8%);
      box-shadow: 0px 8px 20px rgba(235, 87, 87, 0.85);
    }

    &:active {
      background: #cc0b22;
      box-shadow: 0px 0px 5px rgba(235, 87, 87, 0.75);
      border-radius: 5px;
    }
  }
}
