.page {
  // html
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    // overflow: hidden;
  }

  &__content {
    flex: auto;

    // @include mg-section(2em, 3em, 1024);
  }

  &--webinar {

    .page__content {
      padding-top: 80px;
    }

    .container {
      @include bp(700 + 40) {
        @include maxw(700);
      }
    }

    ul,
    ol {

      @include bp(414) {
        list-style-position: outside;
      }
    }
  }

  &--thank-you,
  &--oops {

    .page__content {
      padding-top: 80px;
    }

    .container {
      @include bp(700 + 40) {
        @include maxw(700);
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: unset;

  opacity: 1;
  background-color: #fff;
  overflow-x: hidden;
}

a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation;
  margin: unset;
}

button,
input {
  overflow: visible;
  text-transform: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: unset;
  border-style: none;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

blockquote {
  padding: unset;
  margin: unset;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 700;

  background-color: transparent;
  border-bottom: 1px solid rgba($link-color, .5);

  &:hover,
  &:focus,
  &:active {
    border-bottom-color: rgba($link-color, 1);
  }

  &:visited {
    color: darken($link-color, 25%);

    border-bottom: 1px solid rgba(darken($link-color, 25%), .5);
  }
}
