.how-it-look {
  padding-top: 50px;
  padding-bottom: 50px;

  overflow: hidden;

  @include bp(1024) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__heading {
    margin-bottom: 30px;
    text-align: center;

    @include bp(768) {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    list-style-type: none;
    counter-reset: counter;
  }

  &__wrapper {
    counter-increment: counter;
    display: flex;
    flex-direction: column;
    @include mg-bottom(50px);

    @include bp(768) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
      justify-items: center;
      @include mg-bottom(100px);

      &:nth-child(2n + 1) {

        .how-it-look__img-wrapper {
          order: 2;
          // flex: 1 0 auto;
        }
      }
    }
  }

  &__inner {

    @include bp(768) {
      max-width: 500px;
      width: 100%;
      padding-top: 200px;
    }
  }

  &__img-wrapper {
    // z-index: $z-above;
    @include img(300, 400);

    width: 100%;
    order: -1;

    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.1);

    @include bp-max(768) {
      margin-bottom: 20px;
    }
  }

  &__img {
    object-position: top;

    &--evening-dress {
      object-position: 50% 70%;
    }
  }

  &__text {

    &--stage {
      position: relative;

      @include mg-bottom(5px);

      font-size: 18px;
      font-weight: 700;
      line-height: 1.1;
      color: $a-mf;
      text-transform: lowercase;

      &::before { // цифры
        content: '0'counter(counter);
        position: absolute;
        bottom: -31px;
        right: 0;
        z-index: $z-top;

        font-size: 144px;
        font-weight: bold;
        line-height: 100%;

        -webkit-text-stroke: 2px #f2f2f2;;
        -webkit-text-fill-color: transparent;

        @include bp(768) {
          bottom: -144px;
        }

        @include bp(1024) {
          font-size: 288px;
        }
      }
    }

    &--title {
      position: relative;
      z-index: $z-top;

      max-width: 200px;

      font-size: 28px;
      line-height: 1;

      @include bp(768) {
        font-size: 44px;
      }
    }
  }
}
