+b.SECTION.for-you
  +e.container.container
    +b.HEADER.heading.__heading
      +e.H2.title Чего ждать от конкурса

    +e.UL.list
      +e.LI.wrapper--desktop.loading
        +srcset-block('', '/img/for-you/img/for-you (1)_720.jpg', '/img/for-you/img/for-you (1)_1080.jpg', '/img/for-you/img/for-you (1)_1280.jpg')
      +e.LI.wrapper--cover.loading
        +e.P.text Работа с профессиональными стилистами, парикмахерами и визажистами
        +srcset-block('Работа с профессиональными стилистами, парикмахерами и визажистами', '/img/for-you/img/for-you (2)_720.jpg', '/img/for-you/img/for-you (2)_1080.jpg', '/img/for-you/img/for-you (2)_1280.jpg')
      +e.LI.wrapper.loading
        +srcset-block('', '/img/for-you/img/for-you (3)_720.jpg', '/img/for-you/img/for-you (3)_1080.jpg', '/img/for-you/img/for-you (3)_1280.jpg')
      +e.LI.wrapper--cover.loading
        +e.P.text Профессиональные фотосессии
        +srcset-block('Профессиональные фотосессии', '/img/for-you/img/for-you (4)_720.jpg', '/img/for-you/img/for-you (4)_1080.jpg', '/img/for-you/img/for-you (4)_1280.jpg')
      +e.LI.wrapper.loading
        +srcset-block('', '/img/for-you/img/for-you (6)_720.jpg', '/img/for-you/img/for-you (6)_1080.jpg', '/img/for-you/img/for-you (6)_1280.jpg')
      +e.LI.wrapper--cover.loading
        +e.P.text Тысячи лайков в Instagram
        +srcset-block('Тысячи лайков в Instagram', '/img/for-you/img/for-you (5)_720.jpg', '/img/for-you/img/for-you (5)_1080.jpg', '/img/for-you/img/for-you (5)_1280.jpg')
      +e.LI.wrapper--desktop.loading
        +srcset-block('', '/img/for-you/img/for-you (7)_720.jpg', '/img/for-you/img/for-you (7)_1080.jpg', '/img/for-you/img/for-you (7)_1280.jpg')
      +e.LI.wrapper--desktop.loading
        +srcset-block('', '/img/for-you/img/for-you (8)_720.jpg', '/img/for-you/img/for-you (8)_1080.jpg', '/img/for-you/img/for-you (8)_1280.jpg')
      +e.LI.wrapper.loading
        +srcset-block('', '/img/for-you/img/for-you (9)_720.jpg', '/img/for-you/img/for-you (9)_1080.jpg', '/img/for-you/img/for-you (9)_1280.jpg')
      +e.LI.wrapper--desktop.loading
        +srcset-block('', '/img/for-you/img/for-you (10)_720.jpg', '/img/for-you/img/for-you (10)_1080.jpg', '/img/for-you/img/for-you (10)_1280.jpg')
      +e.LI.wrapper--cover.loading
        +e.P.text Признание от комьюнити Beauty-форума Molfar
        +srcset-block('Признание от комьюнити Beauty-форума Molfar', '/img/for-you/img/for-you (11)_720.jpg', '/img/for-you/img/for-you (11)_1080.jpg', '/img/for-you/img/for-you (11)_1280.jpg')
      +e.LI.wrapper.loading
        +srcset-block('', '/img/for-you/img/for-you (12)_720.jpg', '/img/for-you/img/for-you (12)_1080.jpg', '/img/for-you/img/for-you (12)_1280.jpg')
      +e.LI.wrapper--cover.loading
        +e.P.text Призы и подарки для каждой участницы
        +srcset-block('Призы и подарки для каждой участницы', '/img/for-you/img/for-you (13)_720.jpg', '/img/for-you/img/for-you (13)_1080.jpg', '/img/for-you/img/for-you (13)_1280.jpg')
      +e.LI.wrapper.loading
        +srcset-block('', '/img/for-you/img/for-you (14)_720.jpg', '/img/for-you/img/for-you (14)_1080.jpg', '/img/for-you/img/for-you (14)_1280.jpg')
      +e.LI.wrapper--desktop.loading
        +srcset-block('', '/img/for-you/img/for-you (15)_720.jpg', '/img/for-you/img/for-you (15)_1080.jpg', '/img/for-you/img/for-you (15)_1280.jpg')
      +e.LI.wrapper--cover.loading
        +e.P.text Вечеринка-награждение
        +srcset-block('Вечеринка-награждение', '/img/for-you/img/for-you (16)_720.jpg', '/img/for-you/img/for-you (16)_1080.jpg', '/img/for-you/img/for-you (16)_1280.jpg')
