.for-you {
  padding-top: 50px;
  padding-bottom: 50px;

  @include bp(1024) {
    padding-top: 100px;
    padding-bottom: unset;
  }

  &__heading {
    margin-bottom: 40px;

    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
  }

  &__wrapper {
    @include img(1, 1);
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 256px;
    padding-bottom: unset;

    &::before {
      content: '';
      padding-bottom: 100%;
    }

    &--cover {

      &::after {
        content: '';
        position: absolute;
        z-index: $z-above;

        width: 100%;
        height: 100%;

        background-color: rgba($a-mf, .85);
      }
    }

    &--desktop {

      @include bp-max(768) {
        display: none;
      }
    }
  }

  &__text {
    position: relative;
    z-index: $z-top;

    @include pd(15px);

    color: #fbfbfb;
    font-size: 14px;
    font-weight: 700;
    text-transform: lowercase;
    text-align: center;
  }
}
