.hero {
  color: #ffffff;
  background-color: desaturate($a-mf, 25%); // to make it vissible on FF

  &--index {
    position: relative;

    .heading {
      z-index: $z-above;

      grid-column: 2 / -1;
      padding-bottom: 100px; // to make it topper

      @include bp(1024) {
        max-width: 500px;
        align-self: center;
      }

      &__title {
        margin-bottom: 20px;

       @include bp(1024) {
         margin-left: -200px;
       }
      }

      &__text {
        margin-bottom: 30px;
      }
    }

    .hero__container {
      position: relative;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include bp(1024) {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-column-gap: 30px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @include bgi('/hero/img/hero_720.jpg', '/hero/img/hero_1080.jpg');
        background-size: cover;
        background-position: center;

        @include bp(1024) {
          // grid-row: 1 / -1;
          grid-column: 1 / 2;
          left: -75%;

          @include bgi('/hero/img/hero_1440.jpg', '/hero/img/hero_2560.jpg');
          // background-position: 0 50%;
          background-repeat: no-repeat;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: $a-mf;
        mix-blend-mode: soft-light;
      }
    }
  }
}
