.for-whom {
  position: relative;

  padding-top: 30px;
  padding-bottom: 15px;

  color: #f2f2f2;

  background-color: #000000;

  @include bp(1024) {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  &__container {

    @include bp(768) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 1fr;
      grid-column-gap: 110px;
      justify-content: start;
    }
  }

  &__heading {
    grid-row: 1;
    grid-column: 2 / -1;
    margin-bottom: 20px;

    @include bp(768) {
      margin-top: 50px;
    }
  }

  &__wrapper { // img
    grid-row: 2;
    grid-column: 2 / -1;
    @include mg-bottom(30px);

    &--img {
      grid-row: 1 / 3;
      grid-column: 1;
    }
  }

  &__img-wrapper {
    position: relative;

    display: block;
    @include size(320px, 440px);
    @include size(100%, 440px);
    @include mg(auto);

    background-image: $g-lazyloading;

    @include bp-max(340) {
      left: -10px;

      @include size(300px, 440px);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      @include bgi('/for-whom/img/for-whom_1280.jpg', '/for-whom/img/for-whom_1920.jpg');
      background-size: cover;
      background-position: center;

      @include bp(1024) {
        @include bgi('/for-whom/img/for-whom_1920.jpg', '/for-whom/img/for-whom_2560.jpg');
      }
    }
  }

  &__link {
    margin-left: -1em;

    font-size: 18px;

    border-bottom: unset;
    background-image: $g-default;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::before {
      content: '↓ ';
    }
  }
}
