include mixins
block meta

+b.HTML.page(class= pageModifier, lang='ru')

  head
    include ../../blocks/meta/meta
    include ../../blocks/favicon/favicon
    include ../../blocks/g-tag/g-tag

    link(rel='stylesheet', href='css/styles.css?v=1591353191775')

  body
    +e.wrapper
      include ../../blocks/menu/menu
      include ../../blocks/header/header
      +e.MAIN.content
        block content
      include ../../blocks/footer/footer

    script(src='js/scripts.min.js?v=1591353191775')
    block script
