.nomination {
  position: relative;

  padding-top: 50px;
  padding-bottom: 50px;

  @include bp(1024) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__container {

    @include bp(768) {
      display: grid;
      grid-template-columns:5fr 1fr 5fr;
    }
  }

  &__img-wrapper {
    position: sticky;
    top: 60px; // header 60px
    z-index: $z-before;

    grid-column: 1 / 3;
    grid-row: 1;
    align-self: flex-start;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(359.26deg, #ffffff 16.4%, rgba(255, 255, 255, 0) 99.54%);

      @include bp(768) {
        background-image: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }

  &__list {
    grid-column: 2 / -1;
    grid-row: 1;
    @include mg-bottom(60px);

    list-style-type: none;
  }

  &__wrapper {
    @include mg-bottom(50px);

    &--main-title {

      .nomination__text--nomination {
        @include mg-bottom(10px);

        font-size: 24px;
        color: $text-color;

        @include bp(768) {
          font-size: 36px;
        }
      }

      .nomination__text--title {

        font-size: 56px;
        color: $a-mf;

        @include bp(768) {
          font-size: 86px;
        }
      }
    }

    &--special {
      grid-column: 2 / -1;
      grid-row: 2;
    }
  }

  &__text {

    &--nomination {
      @include mg-bottom(5px);

      color: $a-mf;
      text-transform: lowercase;
      line-height: 1.1;

      @include bp(768) {
        font-size: 18px;
      }
    }

    &--title {
      font-size: 24px;
      line-height: 1.1;

      @include bp(768) {
        font-size: 28px;
      }
    }

    &--special {
      @include mg-bottom(15px);

      font-size: 28px;
      color: $a-mf;
      line-height: 1.2;
    }
  }

}
