.org {
  position: relative;

  padding-top: 50px;

  overflow: hidden;

  @include bp(1024) {
    padding-top: 100px;
  }

  .icon {
    grid-row: 1;
    justify-self: end;

    &--sff_logo {
      max-width: 340px;
      width: 100%;

      @include bp-max(768) {
        margin-bottom: 30px;
      }
    }
  }

  &__container {

    @include bp(768) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      grid-gap: 50px;
    }

    @include bp(1024) {
      grid-gap: 100px;
    }
  }

  &__heading {
    grid-row: 1;
    max-width: 400px;

    @include bp-max(768) {
      margin-bottom: 50px;
    }
  }

  &__wrapper { // img
    grid-row: 2;
    grid-column: 1 / -1;
  }

  &__img-wrapper {
    @include img(320, 260);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;

      width: 100vw;
      height: 100%;
      margin-left: -50vw;
      margin-right: -50vw;

      @include bgi('/org/img/star-face-block_1280.jpg', '/org/img/star-face-block_1920.jpg');
      background-size: cover;
      background-position: center;

      @include bp(1024) {
        @include bgi('/org/img/star-face-block_1920.jpg', '/org/img/star-face-block_2560.jpg');
      }
    }

    @include bp(768) {
      @include img(2, 1);
    }
  }
}
