.registration {
  padding-top: 50px;
  padding-bottom: 50px;

  overflow: hidden;

  @include bp(1024) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__heading {
    grid-column: 1;
    grid-row: 1;
    margin-top: 40px;
    margin-bottom: 40px;

    color: $a-mf;
  }

  .heading__title {
    font-size: 32px;

    @include bp(768) {
      font-size: 36px;
    }
  }

  &__container {

    @include bp(768) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto);
    }
  }

  &__form {
    grid-column: 1;
    grid-row: 2;
  }

  &__wrapper {

    &--img {

      @include bp(768) {
        grid-column: 2;
        grid-row: 1 / -1;
        @include img(1, 2);

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 25%;

          width: 50vw;
          height: 100%;
          margin-left: -25%;

          @include bgi('/registration/img/registration_1440.jpg', '/registration/img/registration_2560.jpg')
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}
