extends ../layouts/layout

block meta
  - var title = 'Miss Molfar — Molfar Beauty Forum'
  - var description = 'Конкурс красоты для участниц beauty-форума Molfar'
  - var ogImage = 'img/og-image.jpg'
  - var pageModifier = '--index'
  - var currentUrl = '/'

block content
  +b.SECTION.hero--index
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H1.title Miss Molfar
        +e.P.text Конкурс красоты
          br
          | для участниц beauty-форума Molfar

        +b.A.button--white(href='#registration') Принять участие

  +b.SECTION.org
    +e.container.container
      +icon('sff_logo', '340', '70')
      +b.HEADER.heading.__heading
        +e.P.text #[b Организатор Miss Molfar] — модельное агентство Star Face Family.
        +e.P.text Один из основных проектов агентства — имиджевый конкурс красоты и моды #[b Star Face of the Season]
      +e.wrapper
        +e.img-wrapper.lazyload
    +b.SVG.moving-text--org(id='text-container' viewBox='0 0 500 96' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(id='text-curve' d='M0 79.5h1203')
      text(y='0' font-size='96')
        +e.TEXTPATH.textpath--org(id='text-path' href='#text-curve' startOffset='200') Star Face Family

  include ../../blocks/for-you/for-you

  +b.SECTION.procedure
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Конкурс проходит в три этапа

      +e.OL.list
        +e.wrapper
          +e.P.text--stage Первый этап
          +e.P.text--title Отборочный
          +e.P.text Онлайн-отбор по заполеным анкетам на сайте. Количество допущеных участниц определяет жюри

        +e.wrapper
          +e.P.text--stage Второй этап
          +e.P.text--title Подготовительный
          +e.P.text Проработка образов для участниц стилистами конкурса. Постановка дефиле и сценических выходов

        +e.wrapper
          +e.P.text--stage Третий этап
          +e.P.text--title Финальный
          +e.P.text Проводится конкурсные дефиле, оценка независимым жюри и вечеринка-награждение

  +b.SECTION.for-whom
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title От вас нужно только участие
      +e.wrapper
        +e.P.text Мы предоставим вам визажистов, парикмахеров и стилистов конкурса для проработки образов, а также одежду. К участницам есть только два требования: возраст 18-40 лет и рост от 165 сантиметров
        +e.A.link(href='#registration') Заполняйте анкету
      +e.wrapper--img
        +e.img-wrapper.lazyload
    +b.SVG.moving-text--for-whom(id='text-container' viewBox='0 0 500 96' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(id='text-curve' d='M0 79.5h1203')
      text(y='0' font-size='96')
        +e.TEXTPATH.textpath--for-whom(id='text-path' href='#text-curve' startOffset='200') Miss Molfar

  +b.SECTION.how-it-look
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Как это выглядит

      +e.OL.list
        +e.wrapper
          +e.inner
            +e.P.text--stage Первое дефиле
            +e.P.text--title Национальная одежда
          +srcset(
            'Первое дефиле',
            'img/how-it-look/img/national-dress_720.jpg',
            'img/how-it-look/img/national-dress_1080.jpg',
            'img/how-it-look/img/national-dress_1440.jpg',
            'img/how-it-look/img/national-dress_1920.jpg'
            )

        +e.wrapper
          +e.inner
            +e.P.text--stage Второе дефиле
            +e.P.text--title Профессиональный лук
          +srcset(
            'Второе дефиле',
            'img/how-it-look/img/professional-look_720.jpg',
            'img/how-it-look/img/professional-look_1080.jpg',
            'img/how-it-look/img/professional-look_1440.jpg',
            'img/how-it-look/img/professional-look_1920.jpg'
            )
        +e.wrapper
          +e.inner
            +e.P.text--stage Финальное дефиле
            +e.P.text--title Вечерний выход
          +srcset(
            'Финальное дефиле',
            'img/how-it-look/img/evening-dress_720.jpg',
            'img/how-it-look/img/evening-dress_1080.jpg',
            'img/how-it-look/img/evening-dress_1440.jpg',
            'img/how-it-look/img/evening-dress_1920.jpg'
            )(class='how-it-look__img--evening-dress')

  +b.SECTION.nomination
    +e.container.container
      +e.img-wrapper
        +e.IMG.img(src='/img/nomination/img/tiara-diadem_fixed.png', alt='Тиара')
      +e.OL.list
        +e.wrapper--main-title
          +e.P.text--nomination
            b Главная номинация
          +e.P.text--title Miss Molfar
        +e.wrapper
          +e.P.text--nomination
            b Вторая номинация
          +e.P.text--title Miss Molfar 1st runner up
        +e.wrapper
          +e.P.text--nomination
            b Третья номинация
          +e.P.text--title Miss Molfar 2nd runner up
        +e.wrapper
          +e.P.text--nomination
            b Четвёртая номинация
          +e.P.text--title Miss Molfar Audience Choice Award
        +e.wrapper
          +e.P.text--nomination
            b Пятая номинация
          +e.P.text--title Miss Molfar Internet Audience Choice Award

      +e.wrapper--special
        +e.P.text--special
          b Подарки для каждой участницы
        +e.P.text у наших спонсоров есть много подарков для вас, так что ни одна учасница не останется без вознаграждения

  +b.SECTION.registration#registration
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Регистрируйтесь

      +b.FORM.form#regForm.__form
        +e.P.success Отправлено!
        +form-line--label('Имя', 'text', 'Имя', 'firstname', 'required')
        +form-line--label('Фамилия', 'text', 'Фамилия', 'lastname', 'required')
        +form-line--label('Дата рождения', 'date', 'Дата рождения', 'birth-date', 'required')
        +form-line--label('Город', 'text', 'Город', 'city', 'required')
        +form-line--label('Ссылка на Instagram', 'text', 'Ссылка на Instagram', 'ig-link', 'required')
        +form-line--label('Телефон', 'tel', 'Телефон', 'tel', 'required')
        +form-line--label('Э-почта', 'email', 'Э-почта', 'email', 'required')
        +form-line--label('Опыт в конкурсах красоты?', 'text', 'Принимали участие в конкурсах красоты?', 'expirience', 'required')
        +e.P.line
          +e.INPUT.file(type='file', id='file', accept="image/*", multiple, required, name="images[]")
          +e.LABEL.label--file(for='file') Добавьте 2 фото — в полный рост и портрет
        +e.P.line--checkbox
          +e.INPUT.checkbox(type='checkbox', id='checkbox', required, checked)
          +e.LABEL.label--checkbox(for='checkbox') Я ознакомлена с #[+e.A.link(href='https://drive.google.com/file/d/10BkyfSRmUgiWYQrqhe6qRN91Q6L8QzFC/view?usp=sharing', target='_blank', rel='noopener') правилами конкурса] и даю разрешение на обработку моих персональных данных

        +b.BUTTON.button--red.__button
          span Подать заявку

      +e.wrapper--img.lazyload
