//------------------------------------------------------------------------------
//  Image mixins
//------------------------------------------------------------------------------

// background retina image
@mixin bgi ($image, $retina-image: null) {
  background-image: url('../img'+$image);

  @if ($retina-image) {

    @media (min-resolution: 192dpi) {
      background-image: url('../img'+$retina-image);
    }
  }
}

// img background while lazy loading
@mixin img ($w, $h, $bg: $g-lazyloading, $bc: $bg-lazyloading, $mbm: soft-light) {
  position: relative;

  display: block;
  padding-bottom: $h / $w * 100%;

  background-image: $bg;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-above;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &.loading {

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: $z-one;

      width: 32px;
      height: 32px;
      margin-top: -16px;
      margin-left: -16px;

      border-radius: 32px;

      animation: scaleout 1.2s infinite ease-in-out;

      // Tweak as needed
      mix-blend-mode: $mbm;
      background-color: $bc;
    }
  }
}
