.form {
  position: relative;

  max-width: 320px;
  width: 100%;

  @include bp-max(768) {
    max-width: 100%;
  }
  // @include mg(auto);

  // ::placeholder {
  //   color: $grey--light;
  // }

  &__input,
  &__textarea {
    width: 100%;
    padding: 10px;

    border: 0;
    border-bottom: 1px solid $text-color;
    border-radius: unset; // safari fix
    appearance: none; // safari shadow fix

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::placeholder {
      color: transparent;
    }

    &:hover,
    &:focus {
      border-bottom: 1px solid $a-mf;
      // box-shadow: 0px 0px 5px rgba(220, 39, 45, 0.25);
      outline: none;
    }

    &:not(:placeholder-shown) ~ label {
      top: -1em;
      // left: 0;
      font-size: 80%;
    }
  }

  &__input[type='date'] {
    // background: #ffffff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    background-color: #ffffff;
  }

  &__input[type='date']::-webkit-inner-spin-button {
    display: none;
  }

  &__input[type='date']::-webkit-calendar-picker-indicator {

    &:hover {
      cursor: pointer;
    }
  }

  &__textarea {
    line-height: $line-height;
  }

  &__line {
    position: relative;

    @include mg-bottom(40px);

    &--checkbox {
      // position: relative;
      left: calc(16px + 1em);

      max-width: calc(100% - (16px + 1em));
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 0.7em;

    color: $text-color--inactive;

    transform: translate3d(0, -50%, 0);

    @include trs();

    &--file {
      display: flex;
      align-items: center;
      padding: 10px;

      border: 1px dashed $text-color--inactive;

      cursor: pointer;

      &::before {
        content: '';

        @include size(20px, 20px);
        // margin-left: 5px;
        margin-right: 10px;

        background-image: url('../img/form/img/file.svg');
      }
    }

    /* CHECKBOX START */
    &--checkbox {
      position: relative;
      top: unset;
      // left: unset;

      &::before {
        content: '';
        position: absolute;
        left: calc(-16px - 1em);
        // left: 0;
        top: 3px;

        display: inline-block;
        @include size(16px);

        border: 1px solid #bdbdbd;
        border-radius: 2px;

        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        left: calc(-12px - 1em);
        top: 5px;

        display: inline-block;
        height: 7px;
        width: 13px;

        color: $a-mf;

        border-left: 2px solid;
        border-bottom: 2px solid;

        transform: rotate(-45deg);

        cursor: pointer;
      }
    }
  }

  &__checkbox {
    appearance: none;
    opacity: 0;
    margin-left: -0.4em;
    @include size(0);

    &:focus + label::before {
      outline: $a-mf auto 5px;
    }
  }

  &__checkbox + label::after {
    content: none;
  }

  &__checkbox:checked + label::after {
    content: '';
  }
  /* CHECKBOX END */

  &__file {
    visibility: hidden;
  }

  &__link {
    color: inherit;
    font-weight: inherit;

    border-bottom-color: rgba($text-color, .5);

    &:hover,
    &:focus,
    &:active {
      border-bottom-color: rgba($text-color, .5);
    }

    &:visited {
      color: inherit;

      border-bottom-color: rgba($text-color, .5);
    }
  }

  &__button {
    display: block;
    margin-top: $margin * 1.5;
    @include mg(auto);
  }

  &__success {
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    z-index: $z-above;

    @include size(110%);
    display: flex;
    align-items: center;
    justify-content: center;
    @include mg-bottom(unset);
    // display: none;

    font-size: 18px;
    font-weight: 700;

    background-color: #fff;
    opacity: 0;
    visibility: hidden;

    @include trs(opacity);
  }

  &--success {

    .form__success {
      visibility: visible;
      opacity: 1;
    }
  }
}
