// accent
$a-default: #02182b;
$a-mf:#dc272d;

// text
$text-color: #333;
$text-color--inactive: #828282;

$grey--light: #bdbdbd;

// links
$link-color: $a-mf;
$link-color--hover: $a-mf; // !default

// borders
$bd-color: rgba($text-color, .25);

// gradients
$g-default: linear-gradient(to right, #ff6644 0%, #c5001e 100%);
$g-lazyloading: linear-gradient($text-color--inactive, rgba($text-color--inactive, .5));

// backgorunds
$bg-lazyloading: rgba(#000, .9);
$bg-button: #e5e5e5;
