.moving-text {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: $z-one;

  font-weight: 700;

  // -webkit-text-stroke: 2px #f2f2f2;
  // -webkit-text-fill-color: transparent;

  &--org {
    color: rgba(#ffffff, .2);
  }

  &--for-whom {
    fill: none;

    text {
      stroke: $text-color;
    }
  }
}
